*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75),rgba(13, 36, 112, 0.75)), url(images/background.png);
    background-size: 100% 100%;
    position: relative;
    
}
.form-box{
    width: 95%;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    padding: 50px 60px 70px;
    text-align: center;
    border-radius: 25px;
}
.form-box h1{
    font-size: 30px;
    margin-bottom: 60px;
    color: #22229b;
    position: relative;
}
.form-box h1 i{
    font-size: 30px;
    margin-bottom: 60px;
    color: #22229b;
    position: relative;
}
.form-box h1::after{
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: #22229b;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translate(-50%);
}
.input-field{
    background: #dad8d8;
    margin: 15px 0;
    border: 3px;
    display: flex;
    align-items: center;   
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden; 
}
input{width: 100%; background: transparent;border: 0;outline: 0; padding: 18px 15px;}
.input-field i{
    margin-left: 15px;
    color: #727171;
}
form p{
    text-align: center;
    font-size: 15px;    
}
form p a{
    text-decoration: none;
    color: #22229b;
    font-weight: bold;
}
form p a:hover{
    color: #02cee9;
    transition: 0.4s;
}
p i{
    margin-left: 15px;
    color: #727171;
}
.btn{
    width: 100%;
    display: flex;
    justify-content: space-between;   
}
.btn button{
    flex-basis: 48%;
    background: #22229b;
    color: #fff;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
}
.btn button:hover{
    background: #02cee9;
    color: black;
}
.input-group{
    height: 280px;
}
.btn button.dc{
    background: #dad8d8;
    color: #727272;

}
.login{
    flex-basis: 48%;
    background: #22229b;
    color: #fff;
    width:80px;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    margin-top: 15px;
    transition: background 0.4s;
}
.login:hover{
    background: #02cee9;
    color: black;
    
}